/*******************MAIN_STUFF*******************/
::-moz-selection {
  background: #c6c6c6;
  color: #fff; }

::selection {
  background: #c6c6c6;
  color: #fff; }

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 10px;
  line-height: 1.3;
  letter-spacing: .08em;
  color: #3e3e3e;
  font-family: 'Futura Std', sans-serif;
  text-transform: uppercase; }

a {
  color: white;
  margin: 0;
  padding: 0;
  text-decoration: none; }

h2 {
  font-size: 2em;
  font-weight: 400;
  line-height: 1;
  margin: 0; }

.box {
  background: rgba(255, 255, 255, 0.85);
  position: absolute;
  border-radius: 3px;
  padding: 10px; }

.button {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 25px;
  width: 80%;
  padding: 3px;
  background: #363636;
  border: 1px #777676 solid;
  border-radius: 10px;
  margin: 10px auto;
  box-shadow: 0 0 10px #5a5a5a;
  transition: all .3s; }

.button p, select {
  color: white;
  margin: auto 3px;
  font-weight: 600; }

.button:hover {
  background: #646464;
  border: 1px #777676 solid;
  border-radius: 5px;
  box-shadow: 0 0 10px #777777; }

.button-ico {
  display: inline;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50%;
  margin: auto 0;
  transition: all .1s; }

.button:hover #info-button-ico {
  background-repeat: no-repeat;
  box-shadow: 0 0 5px #afafaf; }

div#earth-container {
  height: 100%;
  width: 100%; }

/*******************RECHTE INFOBOX*******************/
#right-infos {
  right: 0;
  top: 10%;
  width: 180px;
  padding-right: 20px; }

.info-title {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  margin: 10px; }

.info-title-title {
  margin: auto 10px; }

.info-title-ico {
  height: 30px;
  width: 30px;
  background-image: url("../img/flagge.png");
  background-size: cover;
  border-radius: 50%;
  border: 2px white solid;
  margin: auto 0; }

.info-box {
  width: 100%;
  margin: 20px 0; }

.info-text {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.info-category {
  margin: 0; }

.info-data {
  color: #868686;
  margin: 0; }

.info-data-2 {
  color: #b2b2b2;
  margin: 0; }

.info-rank {
  font-size: 3.5em;
  margin: auto 5px;
  color: #b2b2b2;
  text-transform: lowercase; }

.info-bar-compare {
  position: relative;
  height: 40px; }

.info-bar-box {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 30px;
  z-index: 20; }

.info-bar-ico {
  height: 25px;
  width: 25px;
  border: 2px solid white;
  border-radius: 50%;
  background: #383737;
  margin: auto 5px auto 0;
  background-size: contain;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center; }

#population {
  background-image: url(../ico/two-men-light.png); }

#country-size {
  background-image: url(../ico/france-light.png); }

#wealth {
  background-image: url(../ico/dollar-light.png); }

#well-beeing {
  background-image: url(../ico/smile-light.jpg); }

.info-bar {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: transparent;
  margin: auto 2px; }

.info-bar.active {
  background: #363636; }

.second {
  top: 10px;
  z-index: 10;
  opacity: .4; }

.button-ico {
  background-image: url(../ico/wikipedia-light.png);
  background-size: 80%; }

/*************************QUIZ BOX***********************/
#quiz {
  left: 0;
  top: 0;
  width: 150px; }

.quiz-text {
  margin: 10px; }

.quiz-selection {
  margin: 0; }

.quiz-title {
  margin: 0; }

#quiz .button {
  margin: 10px; }

#quiz .button-ico {
  background-image: url(../ico/speedometer-light.png);
  background-size: 100%; }

.quiz-country {
  height: 150px;
  width: 90%;
  padding: 5%;
  background-image: url(../img/germany.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

#return {
  position: absolute;
  top: 40%;
  left: 160px;
  height: 40px;
  width: 40px;
  margin: 0 auto;
  background: #363636;
  background-image: url(../ico/go-back-arrow-light.png);
  border-radius: 50%;
  border-radius: 50%;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: 50%; }

/*************************CONTROLL BOX***********************/
#left-control {
  left: 0;
  bottom: 0;
  width: 200px; }

.control-text {
  margin: auto 0; }

input {
  font-family: inherit;
  font-size: 100%;
  line-height: normal;
  margin: 0; }

input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* ---------- SWITCH ---------- */
.container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.switch {
  background: #363636;
  border-radius: 32px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  position: relative;
  width: 60px;
  margin: 10px 20px;
  box-shadow: 0 0 10px grey; }

.switch label {
  color: white;
  font-size: 8px;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  transition: color .2s ease;
  width: 100px;
  padding: 10px 0; }

.switch label:nth-of-type(1) {
  text-align: center; }

.switch label:nth-of-type(2) {
  text-align: center; }

.switch input {
  height: 30px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 60px;
  z-index: 2; }

.switch input:checked ~ .toggle {
  left: 5px; }

.switch input ~ :checked ~ .toggle {
  left: 35px; }

.switch input:checked {
  z-index: 0; }

.toggle {
  background: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  left: 0;
  position: absolute;
  top: 5px;
  transition: left .2s ease;
  z-index: 1; }

/*************************QUESTIONS***********************/
#questions {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: -150%; }

#question-close {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.89);
  z-index: 80;
  top: -150%; }

#wrapper {
  position: absolute;
  top: -150%;
  background: #363636;
  width: 500px;
  max-width: 500px;
  margin-left: -250px;
  height: 100%;
  color: white;
  text-align: center;
  z-index: 100;
  left: 50%; }

#question-title {
  padding-top: 60px; }

.question-box {
  position: relative;
  width: 70%;
  height: 300px;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  color: #363636;
  margin-top: 50px;
  padding: 10px;
  border: 2px solid grey; }

.question-fold {
  position: absolute; }

.question-text {
  padding-top: 50px;
  font-size: 1.5em;
  margin: 10px;
  padding: 50px 10px; }

.question-awnser {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 50px; }

.question-more {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  right: 20px;
  bottom: 20px; }

#more-ico {
  height: 15px;
  width: 15px;
  background: #363636;
  border-radius: 50%;
  margin: auto 5px; }

.awnser-button {
  height: 50px;
  width: 50px;
  margin: 20px;
  background: transparent;
  border-radius: 50%;
  border: 2px solid white;
  transition: all .5s; }

.awnser-button:hover {
  background: rgba(255, 255, 255, 0.36); }

.awnser-button p {
  text-align: center;
  margin: 35% 0; }

/*************************SETTINGS***********************/
#left-control {
  display: none; }

#settings {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-bottom: 20px;
  padding-left: 20px; }

.settings-box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

select {
  padding: 7px;
  margin: 10px;
  border: 1px solid #363636;
  width: 150px;
  background: #363636;
  color: white;
  height: 30px;
  padding: 0.5rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 10px;
  font-family: inherit;
  font-size: 1rem;
  color: white;
  background-image: url(../ico/ico-arrow.svg) !important;
  background-origin: content-box !important;
  background-position: right -1rem center !important;
  background-repeat: no-repeat !important;
  padding-right: 1.5rem;
  transition: all .5s;
  color: rgb; }

select:focus {
  outline: none;
  border: 1px solid #8a8a8a;
  background-color: #363636;
  box-shadow: 0 0 5px #cacaca; }

form {
  margin: 0; }

.settings-ico {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  margin: auto 0;
  box-shadow: 0 0 10px #000;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat; }

.dissabled {
  opacity: .4; }

.settings-ico#ico_1 {
  background-image: url(../ico/ico-density.svg); }

.settings-ico#ico_2 {
  background-image: url(../ico/ico-borders.svg); }

.settings-ico#ico_3 {
  background-image: url(../ico/ico-colors.svg); }

.settings-ico#ico_4 {
  background-image: url(../ico/ico-velocity.svg); }
